.menu{
    box-sizing: border-box;
    background-color: #161616;
    color: #F1EFD6;
    box-shadow: #000000 0px 0px 10px 0px;
    width: 100vw;
    height: 10vh;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.menu .title{
    margin: auto 12vw;
    font-size: 3em;
    font-weight: 100;
}

.menu ul{
    width: 30vw;
    height: 7vh;

    display: flex;
}
.menu li{
    width: 5vw;
    height: 4vh;

    margin: auto 1vw;
    padding: 0.5vw 0.7vw;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1vw;
}

.menu .user{
    background-color: hotpink;
    width: 5vw;
    height: 4vh;

    margin: auto 1vw;
    padding: 0.5vw 0.7vw;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1vw;
}

.menu .user ion-icon{
    color: #F1EFD6;
    font-size: 2vw;
}