.menu{
    box-sizing: border-box;
    background-color: #161616;
    color: #F1EFD6;
    box-shadow: #000000 0px 0px 10px 0px;
    width: 100vw;
    height: 10vh;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.menu .title{
    margin: calc(50vw - 50vh);
    font-size: 2.5vw;
    font-weight: 700;
}

.menu ul{
    width: fit-content;
    height: 7vh;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.menu ul li{
    width: fit-content;
    height: 4vh;

    margin: auto 1vw;
    padding: 0.5vw 0.7vw;

    border-radius: 5px;

    display: flex;
    justify-content: space-around;
    gap: 1vw;
    align-items: center;

    cursor: pointer;
}

.menu ul > a,
.menu ul li a{
    color: #F1EFD6;
    font-size: 1.2vw;
    font-weight: bold;
    text-transform: uppercase;
}

.menu ul li ion-icon{
    color: #F1EFD6;
    font-size: 2vw;
}

.menu li:hover{
    background-color: #F1EFD6;
    color: #000000;
}

.menu li:hover > ion-icon,
.menu li:hover ion-icon{
    color: #000000;
}