.signup{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.signup  h1{
    color: #161616;
    text-align: center;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 700;
}

.signup form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 5vh;
}

.signup form label{
    color: #161616;
    font-size: 1.5vw;
    font-weight: 700;
    margin: 1vh auto 1vh 0;
}

.signup form input{
    width: 20vw;
    height: 4vh;
    margin: 0vh 0 1vh 0;

    border-radius: 0.5vw;
    border: #161616 1px solid;

    color: #F1EFD6;

    font-size: 1vw;
    font-weight: bold;
    text-align: center;
}

.signup form input:focus,
.signup form input:active,
.signup form input:hover{
    outline: none;
    border: 2px solid #161616;

    transform: scale(1.05);
}

.signup form input::placeholder{
    color: #161616;
}

.signup form button{
    width: 12vw;
    height: 5vh;
    margin: 1.5vh auto 1vh auto;

    border-radius: 0.5vw;
    border: none;
    background-color: #161616;
    color: #F1EFD6;

    font-size: 0.9vw;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.05vw;

    cursor: pointer;
}

.signup form button:hover{
    background-color: #535353;
}

.signup button{
    background-color: transparent;
    border: none;

    width: 9.5vw;
    height: fit-content;

    margin: 0 auto 2vh auto;

    cursor: pointer;
}

.signup button a{
    color: #161616;
    font-size: 0.7vw;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.07vw;
}

.signup button a:hover{
    color: #535353;
}